services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER:postgres} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:postgres}
      POSTGRES_DB: technical
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  redis_data: